.dc-chart g.row text {
    fill: black;
}
#type-chart,
#mnem-chart,
#prefix-chart,
#opcode-chart,
#size-chart
{
	width: 100%;
}

.data-table-col {
	cursor: pointer;
}

#input {
	margin-right: 20px;
}

h4,
h2 {
	text-align: center;
}